<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="label label-primary">{{orderStatus}}</span>
      Table: {{order.tableNumber}}
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <bcon-item *ngFor="let item of order.items" [item]="item">test</bcon-item>
    </ul>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-danger" (click)="cancelOrder()">Cancel</button>
      <button type="button" class="btn btn-default" (click)="acceptOrder()">Accept</button>
    </div>
  </div>
</div>
